video::cue {
    font-size: 40px;
    color: azure;
    

  }
  
  /* Styling with UI. */
  .shaka-text-container {
    color: red;
    font-size: 30px;
    font-family:cursive;
    font-style: oblique;
  

    

  }
  
  
  /* Styling with UI, only when fullscreen (may not be supported in some browsers). */
  .shaka-text-container:fullscreen {
    font-size: 18pt;
  }
